pkgbase = wps-office-ct-custom
	pkgdesc = WPS Office Pro (Custom Enterprise Version) with multi-arch support and runtime fixes
	pkgver = 11.8.2.12019.AK.preload.sw
	pkgrel = 1
	url = https://www.wps.cn
	arch = x86_64
	arch = aarch64
	license = custom
	options = !strip
	options = !docs
	source_x86_64 = https://github.com/Capricornus007/wps-office-ct-custom/releases/download/11.8.2.12019.AK.preload.sw/UOS_amd64.deb
	sha256sums_x86_64 = 33f135a831192589d1e554c04435572d31e1d5b39c9d3f4fcb8ff4d6c92bd2f1
	source_aarch64 = https://github.com/Capricornus007/wps-office-ct-custom/releases/download/11.8.2.12019.AK.preload.sw/UOS_arm64.deb
	sha256sums_aarch64 = 44120fe568c6802b530d5124437504680c8c97b42b6aef9bd2b357e3c81eab97

pkgname = wps-office-ct-custom
	depends = dbus
	depends = glu
	depends = gconf
	depends = libxss
	depends = gtk3
	depends = wps-office-ct-custom-fonts
	provides = wps-office
	conflicts = wps-office
	conflicts = wps-office-365

pkgname = wps-office-ct-custom-fonts
	pkgdesc = Symbol and custom fonts bundled with WPS Office Pro
	arch = any
	depends = fontconfig
	provides = wps-office-fonts
	conflicts = wps-office-fonts
