pkgbase = wps-office-ct-custom
	pkgdesc = WPS Office 2023 (China Telecom Enterprise Custom Edition for UOS)
	pkgver = 11.8.2.12019.AK.preload.sw
	pkgrel = 1
	url = https://www.wps.cn
	arch = x86_64
	arch = aarch64
	license = custom:Kingsoft
	depends = fontconfig
	depends = libxrender
	depends = xdg-utils
	depends = glu
	depends = libpulse
	depends = libxss
	depends = sqlite
	depends = libtool
	depends = libtiff
	depends = libxslt
	depends = libjpeg-turbo
	depends = libpng
	depends = freetype2
	depends = bzip2
	options = !strip
	options = !zipman
	options = !debug
	source_x86_64 = https://dl-r2.nxtrace.org/wps_dist/UOS_amd64.deb
	sha256sums_x86_64 = SKIP
	source_aarch64 = https://dl-r2.nxtrace.org/wps_dist/UOS_arm64.deb
	sha256sums_aarch64 = SKIP

pkgname = wps-office-ct-custom
	provides = wps-office
	conflicts = wps-office
	conflicts = wps-office-365
